body {
    font-family: "Inter", sans-serif;
    color: #000000;
    background-color: #FFFFFF;
}
a.button{
    max-width: 256px;
    text-align: center;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    text-decoration: none;
    border-radius: 100px;
    color: #151313;
    border: 2px solid #151313;
    font-family: "Inter";
    margin: 15px;
}
.containerbutton{
    width: 100%;
    text-align: center;
}

.main-nav a {
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.main-content{
    width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-content h1 {
    font-weight: 900;
    font-size: 96px;
    line-height: auto;
    text-transform: uppercase;
    color: #000000;
}

.main-content h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: auto;
    text-transform: uppercase;
    color: #000000;
}

table {
    border-collapse: collapse;
    border: 2px solid #000000;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

thead,
tfoot {
  background-color: #C22626;
  color: #FFFFFF;
}

th,
td {
  border: 1px solid #000000;
  padding: 8px 10px;
}

.main-footer {
    background-color: #000000;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    text-align: center;
    padding-top: 10px;
}

.main-footer p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    justify-items: right;
}
.site-navigation {
    display: inline;

    .site-navigation-item{
        display: inline;
        justify-items: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
  }